<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062098895413-36lb3bsv4ol7582b5h0vrefkp8gt7fov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062098895413-36lb3bsv4ol7582b5h0vrefkp8gt7fov</string>
	<key>API_KEY</key>
	<string>AIzaSyAjlu5Mzp6Y8nIUarLNf2hUtn71fkav_2I</string>
	<key>GCM_SENDER_ID</key>
	<string>1062098895413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.languages</string>
	<key>PROJECT_ID</key>
	<string>language-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>language-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062098895413:ios:ae283503cfdd35a9dd277c</string>
</dict>
</plist>